body{
  background-color: #66BFBF;;
}

hr{
  border-color: red;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}

h1{
  color: #F9F3DF;
}

h2{
  color: #F9F3DF;
}

h3{
  color: #F9F3DF;
}
